a {color: #0086CC;}

a:hover {color: #555555;}

.hide {display: none;}

.logo_del_en {color: #0086CC;}

.logo_del_to {color: #555555;}

.background-image {
    background: url('../img/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.mobile-navbar {color: #0086CC;}

.navbar-darker{background-color: rgba(0, 0, 0, 0.7);}

.nav-link {color: #eee;}

.om-meg-bg {padding: 10% 20% 20% 20%;}

.om-meg {
  height: 100%;
  text-align: center;
  width:35em;
  max-width:100%;
  margin:0 auto 4em;
  padding: 1em;
  color: #bababa;
}

.arrow-down {
    text-align: center;
    width: 100%;
    padding-top: 30%;
}

.arrow-down-bt {color: #0086CC;}

.portfolio-bg {margin-bottom: 5em;}

.portfolio-header {
    text-align: center;
    width: 100%;
    padding-top: 4em;
    padding-bottom: 1.5em;
}

.footer-bg {
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: center;
}

.color {color: #0086CC;}
