body {
  font-family: 'Roboto';
  color: #fff;
  background-color: #161616;
  font-size: 1.2em;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.flex-item {

    width: 300px;
    height: auto;
    margin: 10px;
}

.WeatherIcon {
  width: 70px;
  height: auto;
}
