.logo_del_en {color: #0086CC;}

.logo_del_to {color: #555555;}

.header {
    margin-top: 2%;
    margin-bottom: 3%;
}

.message {
    background-color: #fff;
    padding: 2%;
    margin-bottom: 1em;
    min-height: 280px;
    border-radius: 25px;
}


.message footer {
    font-size: 1.1em;
    font-style: italic;
}

footer {
    padding: 2em;
}
